
/* .div{
    padding: 70px 0;
    text-align: center;
}
.code{
    padding: 80px 30px;
} */
body {
  background-color: rgb(238, 243, 245);
  margin: 250px;
}
h2 {
  color:#000080;
  align-content: center;
}
.imgone {
  display:flex;
  justify-content: center;
  align-content: center;
}
.imgtwo {
  display: inline-block;
  font-size: 48px;
  width: 48px;
  overflow: hidden;
}
  button.Sign-Up{
    color:#fffafa;
    background-color:rgb(22, 153, 120);
    cursor: pointer;
    outline: none;
    border: none;
    padding: 6px 76px;
    border-radius: 4px;
  }
  button.Register{
    color:#fffafa;
    background-color: #0a0a27;
    cursor: pointer;
    outline: none;
    border:none;
    padding: 6px 76px;
    border-radius: 4px;
  }
  .psw{
    color:rgb(22, 153, 120);
  }
  button.Skip{
    padding:0.25rem 0.5rem;
    color:#20B3AB;
    cursor: pointer;
    outline: none;
    border: none;
    padding: 8px 16px;
  }
 input.input-box{
    width:250px;
    height:30px;
    display:block;
   }
   input.reset{
    color:#fffafa;
    background-color:rgb(22, 153, 120);
    cursor: pointer;
    outline: none;
    border: none;
    padding: 6px 76px;
    border-radius: 4px;
   }
.sidenav1{
    margin-bottom: 20px;
    font-style: italic;
    color:rgb(45, 201, 162);
}
.sidenav {
    height: 100%;
    margin-inline-start: 500px;
    margin-top: 60px;
    width: 0px;
    position: fixed;
    /* z-index: 1; */
    top: 0;
    left: 0;
    background-color: rgb(233, 224, 224);
    overflow-x: hidden;
    transition: 1.0s;
    padding-top: 10px;
  }
  .sidenav a {
    padding: 18px 18px 8px 32px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #3b3434;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right:0px;
    font-size: 36px;
    margin-left: 20px;
  }
  /* @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  } */
  .div.openNav{
      padding-top: 150px;
      padding-left:150px;
  }
  h3{
    color:black;
}
span{
    font-size:"10px";
}
  /*.div.menunav{
    padding-top: 250px;
    padding-left:1990px;
}
.div.accountnav{
  padding-top: 350px;
  padding-left:250px;
} */

.div{
  padding: 70px 0;
  text-align: center;
}
.code{
  padding: 80px 30px;
}
ul{
  list-style: none;
  list-style-position: left;
}